/* =========================
   HOME ABOUT SECTION
========================= */
.homeabout {
  width: 100%;
  padding: 45px 5px;
  position: relative;
  overflow: visible;

}

/* BACKGROUND IMAGE */
.homeabout-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* FIXED */
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0.5;
}

/* WHITE OVERLAY */
.homeabout-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* FIXED */
  background: rgba(0, 0, 0, 0.18);
  z-index: 2;
}

/* CONTAINER */
.homeabout .container {
  position: relative;
  z-index: 5;
}

/* CONTENT */
.homeabout-content {
  margin: auto;
  text-align: center;
}

/* HEADING */
.homeabout-heading {
  font-size: 38px;
  font-weight: 600;
  color: #4B0A0A;
  margin-bottom: 35px;
  line-height: 1.2;
}

/* PARAGRAPH */
.homeabout-description {
  font-size: 17px;
  padding-bottom: 25px;
  line-height: 2;
  color: #000;
  margin-bottom: 24px;
}

/* =========================
   BOTTOM BOXES
========================= */

.homeabout-box-wrapper {
  width: 100%;
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;

  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 20px;
}

/* SINGLE BOX */
.homeabout-box {
  width: 320px;
  background: #fff;
  padding: 15px 25px;
  border-radius: 18px;
  text-align: center;

  box-shadow: 0 15px 40px rgba(0,0,0,0.12);

  transition: 0.4s ease;
  border-top: 5px solid #F3D79B;

  position: relative;
  z-index: 25;
}

/* HOVER */
.homeabout-box:hover {
  transform: translateY(-10px);
}

/* BOX HEADING */
.homeabout-box h3 {
  font-size: 24px;
  color: #4B0A0A;
  margin-bottom: 15px;
  font-weight: 700;
}

/* BOX TEXT */
.homeabout-box p {
  font-size: 15px;
  color: #000;
  line-height: 1.8;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 992px) {

  .homeabout {
    padding: 100px 0 260px;
  }

  .homeabout-box-wrapper {
    flex-wrap: wrap;
    bottom: -140px;
  }

  .homeabout-heading {
    font-size: 40px;
  }

}

@media (max-width: 768px) {

  .homeabout {
    padding: 80px 0 320px;
  }

  .homeabout-heading {
    font-size: 30px;
  }

  .homeabout-description {
    font-size: 15px;
    line-height: 1.9;
  }

  .homeabout-box-wrapper {
    gap: 20px;
    bottom: -220px;
  }

  .homeabout-box {
    width: 100%;
    max-width: 350px;
  }

}